<script>
  $(function() {
    $('.new-lesson-button').click(function() {
       var lessonUrl = $( event.target).data('lesson-url');
      $('#newLessonForm').attr('action', lessonUrl);
    });
   
    $('.sections').sortable({
      update: function( event, ui ) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { section: { row_order_position: ui.item.index() } }
        });
        alert('Updated Section Positioning!')
      }
    });
    $('.lessons').sortable({
      update: function ( event, ui ) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'text',
          data: { lesson: { row_order_position: ui.item.index() } }
        });
        alert('Updated Lesson Positioning!')
      }
    });
  });
</script>

<br />
<div class="box-style col-10 offset-1">
    <h1 class=text-center><%= current_course.title %></h1>
    <%= image_tag current_course.image.url.to_s, class: 'img-fluid col-sm-10 offset-sm-1 col-12 mb-2'%>
    <%= link_to "Preview as a Student", course_path(current_course), class: 'btn btn-info btn-sm' %>
        <br class="clr" />
        <br />


<!-- Button trigger modal -->
<button type="button" class="btn btn-danger btn-lg text-center" data-toggle="modal" data-target="#newSectionAdd">
  Add a new section
</button>
  <br class="clr" />



<br class="clr" />
    <ul class="sections">
      <% current_course.sections.rank(:row_order).each do |section| %>
          <li data-update-url="<%= instructor_section_path(section) %>" class="section-li p-4">
              <div class="row">
                <div class="col-10">
                  <div class="section-header">
                    <span class="fa fa-ellipsis-v" aria-hidden="true"></span>
                    <%= section.title %>
                  </div>
                </div>
                <div class="col-2">
                  <button type="button" class="float-right btn btn-dark new-lesson-button" data-toggle="modal" data-target="#newLessonModal" data-lesson-url="<%= instructor_section_lessons_path(section) %>">
                    New Lesson
                  </button>
                </div>
              </div>
                
                <br class="clr" />
                <br class="clr" />
              <ul class="lessons">
                <% section.lessons.rank(:row_order).each do |lesson| %>
                   <li data-update-url="<%= instructor_lesson_path(lesson) %>" class="lesson-li m-3 p-5">
                      <div class="row">
                          <div class="col-1">
                              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                          </div>
                          <div class="col-11 text-center">
                              <p>
                                <b><%= lesson.title%></b>
                              </p>
                              <p>
                                <%= lesson.subtitle %>
                              </p>
                          </div>
                      </div>
                    <br class="clr" />
                  </li>
                <% end %>
              </ul>
             
          </li>
      <% end %>
    </ul>
</div>



<!-- Modal for Section-->
<div class="modal fade" id="newSectionAdd" tabindex="-1" role="dialog" aria-labelledby="newSectionAddLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newSectionAddLabel">Add a new section for <%= current_course.title %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for @section, url: instructor_course_sections_path(current_course) do |f| %>
        <div class="modal-body">
            <%= f.input :title %>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            <%= f.submit "Save", class: "btn btn-outline-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>



<!-- Modal for Lesson-->
<div class="modal fade" id="newLessonModal" tabindex="-1" role="dialog" aria-labelledby="newLessonModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newLessonModalLabel">Add a new lesson</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for @lesson, url: "#", html: {id: 'newLessonForm'} do |f| %>
        <div class="modal-body">
          <%= f.input :title %>
          <%= f.input :subtitle, placeholder: 'One sentence description of your lesson.' %>
          <%= f.input :video %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "Add a lesson", class: "btn btn-outline-secondary btn-large" %>
        </div>
      <% end %>
    </div>
  </div>
</div>