<br />

<div class="box-style col-10 offset-1 text-center">
    <h1><%= @course.title %></h1>
		<%= image_tag @course.image.url.to_s, class: 'img-fluid col-sm-10 offset-sm-1 col-12 mb-2'%>
			<br />
		<div class="row">
			<div class="col-sm-3 col-12 text-center border-right">
				<h3><%= number_to_currency @course.cost %></h3>
			
				<% if current_user && current_user == @course.user %>
					<br />
					<%= link_to "Administer", instructor_course_path(@course), class: "btn btn-danger btn-large"%>
				<% end %>
			</div>
			
			<div class="col-sm-9 col-12 my-auto">
					<%= @course.description %>
			</div>
		</div>

		<div class='col-12'>
			<% @course.sections.each do |section| %>
				<div class="section">
					<%= section.title %>
						<% section.lessons.each do |lesson| %>
							<div class="lesson">
								<%= link_to lesson_path(lesson) do %>
									<b><%= lesson.title %></b>
									-
									<%= lesson.subtitle %>
								<% end %>
							</div>
						<% end %>
				</div>
			<% end %>
		</div>
</div>